<% if item[:description] %>
  <%= render_govspeak(item[:description]) %>
<% end %>

<ul class="content-block__list govuk-!-margin-bottom-0">
  <% item[:telephone_numbers].each do |number| %>
    <li>
      <span><%= number[:label] %>: </span>
      <span class="tel"><%= number[:telephone_number] %></span>
    </li>
  <% end %>
</ul>

<% if show_video_relay_service? %>
  <%= render_govspeak(video_relay_service_content) %>
<% end %>

<% if show_bsl_guidance? %>
  <%= render_govspeak(bsl_guidance[:value]) %>
<% end %>

<% if show_opening_hours? %>
  <%= render_govspeak(opening_hours[:opening_hours]) %>
<% end %>

<% if show_call_charges? %>
  <p>
    <a href="<%= call_charges[:call_charges_info_url] %>">
      <%= call_charges[:label] %>
    </a>
  </p>
<% end %>
