<div class="vcard">
  <% if block_type.nil? %>
    <%= render_govspeak(content_block.details[:description]) if content_block.details[:description] %>
    <dl class="<%= margin_classes(0) %> <%= padding_classes(0) %>">
      <% items.each do |block_type, _, item| %>
        <dt class="<%= margin_classes(0, 0, 4, 0) %> <%= padding_classes(0) %> <%= font_classes(19, "bold") %>">
          <%= item[:title] %>
        </dt>
        <dd class="<%= margin_classes(0) %>">
          <%= component_for_block_type(block_type).new(item:).render.html_safe %>
        </dd>
      <% end %>
    </dl>
  <% else %>
    <%= component_for_block_type(block_type).new(item: item_to_render).render.html_safe %>
  <% end %>
</div>
