<div class="vcard">
  <p class="fn org content-block__title"><%= content_block.title %></p>

  <% if block_type.present? && content_block.details[:description] %>
    <%= render_govspeak(content_block.details[:description])  %>
  <% end %>

  <% if block_type.nil? %>
    <% BLOCK_TYPES.each do |block_type| %>
     <% content_by_block_type[block_type].each do |item| %>
        <p class="content-block__subtitle"><%= item[:title] %></p>
        <%= component_for_block_type(block_type).new(item:).render.html_safe %>
      <% end %>
    <% end %>
  <% else %>
    <%= component_for_block_type(block_type).new(item: item_to_render).render.html_safe %>
  <% end %>
</div>
